
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif, monospace;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #0b0c10;
  color: #ffffff;
}
img {
  width: 100px;
  height: auto;
  display: block;
  margin-bottom: 40px;
}
aside {
  width: 300px;
  background-color: #111217;
  border-right: 1px solid #1f2128;
  padding: 30px;
}

aside ul {
  list-style: none;
  margin-bottom: 24px;
}

aside a {
  text-decoration: none;
  color: #a1a1aa;
  font-size: 15px;
  display: block;
  padding: 10px 12px;
  border-radius: 6px;
  transition: all 0.2s;
}

aside h3 {
  font-size: small;
  font-weight: 400;
  color:#a1a1aa;
  margin-bottom: 15px;

}

li:hover {
  background-color: #1f2120;
  border-radius: 10px;
  color: white;

}



main {
  flex: 1;
  padding: 40px;
}
